<div class="container">
  <h1>Coördinaten</h1>
  <form role="form" ng-submit="checkCoordinates()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="n-coordinate">N</span>
          <input type="text" class="form-control" ng-model="nCoordinate" placeholder="53.000" aria-describedby="n-coordinate">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="e-coordinate">E</span>
          <input type="text" class="form-control" ng-model="eCoordinate" placeholder="006.000" aria-describedby="e-coordinate">
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok"> </span> Controleer</button>
    </div>
  </div>
  </form>
  <div ng-show="result">
    <p ng-show="correctResult"><img src="http://www.clker.com/cliparts/G/z/2/Q/1/p/tick-mark-hi.png" alt='correct'/></p>
    <p ng-hide="correctResult"><img src="http://www.clipartbest.com/cliparts/Kcj/g7R/Kcjg7Rgpi.png" alt='correct'/></p>
  </div>
</div>
